html, body {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  background-image: url('./vector/pizza.svg');
  background-position: center;
  background-size: cover;
}

#home_page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#home_title {
  font-size: 34px;
  background: white;
  border-radius: 5px;
  padding: 20px;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}